In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
!ls /gdrive/MyDrive/FDBMS_End_term/

'2018_Contributions_Reddit_Amber Heard Data.csv'   reddittt_users.csv
 reddit_edges.csv				   reditP_users.csv

In [ ]:
path = "/gdrive/MyDrive/FDBMS_End_term/"
os.chdir(path)
os.listdir()

['2018_Contributions_Reddit_Amber Heard Data.csv',
 'reddittt_users.csv',
 'reditP_users.csv',
 'reddit_edges.csv']

In [ ]:
df = pd.read_csv("2018_Contributions_Reddit_Amber Heard Data.csv")

In [ ]:
df.head()

,id,name,permalink,text,parent_id,subreddit,author,created_at,entities,sentiment_blob,sentiment_nltk,score
0,7u8w98,t3_7u8w98,/r/CelebrityArmpits/comments/7u8w98/amber_hear...,Amber Heard [AIC],NaN,r/CelebrityArmpits,"{'name': 'pitsnbush', 'created_at': 'Wed Mar 2...",Wed Jan 31 10:05:02 +0000 2018,{'urls': []},Neutral,Neutral,28
1,7u8r8q,t3_7u8r8q,/r/JerkOffToCelebs/comments/7u8r8q/amber_heard...,Amber Heard Hot Bod,NaN,r/JerkOffToCelebs,"{'name': '-banned-', 'created_at': None, 'has_...",Wed Jan 31 09:31:10 +0000 2018,{'urls': []},Positive,Neutral,18
2,7u8rhp,t3_7u8rhp,/r/celebritystockings/comments/7u8rhp/amber_he...,Amber Heard,NaN,r/celebritystockings,"{'name': '-banned-', 'created_at': None, 'has_...",Wed Jan 31 09:32:51 +0000 2018,{'urls': []},Neutral,Neutral,62
3,7u4bxm,t3_7u4bxm,/r/sexygirls/comments/7u4bxm/amber_heard/,Amber Heard,NaN,r/sexygirls,"{'name': '-banned-', 'created_at': None, 'has_...",Tue Jan 30 21:09:11 +0000 2018,{'urls': []},Neutral,Neutral,29
4,7u8o8x,t3_7u8o8x,/r/celebritystockings/comments/7u8o8x/amber_he...,Amber Heard,NaN,r/celebritystockings,"{'name': '-banned-', 'created_at': None, 'has_...",Wed Jan 31 09:10:27 +0000 2018,{'urls': []},Neutral,Neutral,1

In [ ]:
df.tail()

,id,name,permalink,text,parent_id,subreddit,author,created_at,entities,sentiment_blob,sentiment_nltk,score
6982,echyx11,t1_echyx11,/r/JerkOffToCelebs/comments/a1c2e6/didnt_think...,"Actually... they aren't sharks, they are creat...",t3_a1c2e6,r/JerkOffToCelebs,"{'name': 'thatdude_803', 'created_at': 'Sun Ma...",Tue Dec 25 03:14:42 +0000 2018,{'urls': []},Neutral,Neutral,1
6983,ebd4gn0,t1_ebd4gn0,/r/coatswithoutshirts/comments/9wehfe/amber_he...,Heard what?,t3_9wehfe,r/coatswithoutshirts,"{'name': 'HLtheWilkinson', 'created_at': 'Sun ...",Sat Dec 08 16:44:37 +0000 2018,{'urls': []},Neutral,Neutral,1
6984,ebd4tah,t1_ebd4tah,/r/coatswithoutshirts/comments/9wd40o/amber_he...,Heard what?,t3_9wd40o,r/coatswithoutshirts,"{'name': 'HLtheWilkinson', 'created_at': 'Sun ...",Sat Dec 08 16:48:48 +0000 2018,{'urls': []},Neutral,Neutral,1
6985,ecvwhd2,t1_ecvwhd2,/r/Celebsnudess/comments/9v5q2b/amber_heard_lo...,Now that's a woman I'd love to plow,t3_9v5q2b,r/Celebsnudess,"{'name': 'thatweirdhat12', 'created_at': 'Sun ...",Sun Dec 30 18:07:24 +0000 2018,{'urls': []},Positive,Positive,1
6986,ebtnfz3,t1_ebtnfz3,/r/pickoneceleb/comments/9thl3q/women_of_dc_re...,"Bedroom. Amy Adams; a spiteful choice, since s...",t3_9thl3q,r/pickoneceleb,"{'name': 'anon0311', 'created_at': 'Sun Mar 11...",Sat Dec 15 04:13:25 +0000 2018,{'urls': []},Positive,Negative,1

In [ ]:
df.shape

(6987, 12)

In [ ]:
df['sentiment_blob'].value_counts()

Neutral     3833
Positive    2071
Negative    1083
Name: sentiment_blob, dtype: int64

In [ ]:
df['sentiment_nltk'].value_counts()

Neutral     4478
Positive    1544
Negative     965
Name: sentiment_nltk, dtype: int64

In [ ]:
df.isnull().sum()

id                   0
name                 0
permalink            0
text                 0
parent_id         1996
subreddit            0
author               0
created_at           0
entities             0
sentiment_blob       0
sentiment_nltk       0
score                0
dtype: int64

In [ ]:
df.drop(['entities', 'created_at'], axis=1, inplace=True)

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

id                0
name              0
permalink         0
text              0
parent_id         0
subreddit         0
author            0
sentiment_blob    0
sentiment_nltk    0
score             0
dtype: int64

In [ ]:
u_user = df['id'].unique()

In [ ]:
u_user.sort()
u_user
print("\n")  
len(u_user)

array(['ds0ns4c', 'ds0x0d9', 'ds0x0jx', ..., 'ecz8azf', 'ecza1kn',
       'eczablu'], dtype=object)

4991

In [ ]:
u_code = ["u" + str(i) for i in range(len(u_user)) ]
u_code[:5]

['u0', 'u1', 'u2', 'u3', 'u4']

In [ ]:
map_dict = dict(zip(u_user, u_code))

In [ ]:
list(map_dict.items())[:3]

[('ds0ns4c', 'u0'), ('ds0x0d9', 'u1'), ('ds0x0jx', 'u2')]

In [ ]:
df['id'] = df['id'].replace(map_dict, inplace= False)

In [ ]:
df.head()

,id,name,permalink,text,parent_id,subreddit,author,sentiment_blob,sentiment_nltk,score
18,dt561qg,t1_dt561qg,/r/goddesses/comments/7sgl66/amber_heard/dt561qg/,Well..? What did she hear?!,t3_7sgl66,r/goddesses,"{'name': '-banned-', 'created_at': None, 'has_...",Neutral,Neutral,14
19,dt5lf4u,t1_dt5lf4u,/r/goddesses/comments/7sgl66/amber_heard/dt5lf4u/,Shameless gold digger!,t3_7sgl66,r/goddesses,"{'name': '-banned-', 'created_at': None, 'has_...",Neutral,Negative,5
20,dt5h0fn,t1_dt5h0fn,/r/goddesses/comments/7sgl66/amber_heard/dt5h0fn/,Amber D’Alessio made out with a hot dog.,t1_dt561qg,r/goddesses,"{'name': '-banned-', 'created_at': None, 'has_...",Positive,Neutral,3
21,dt5ntm0,t1_dt5ntm0,/r/goddesses/comments/7sgl66/amber_heard/dt5ntm0/,First thing that pops into my head. Every time.,t1_dt561qg,r/goddesses,"{'name': '-banned-', 'created_at': None, 'has_...",Positive,Neutral,2
22,dt5jaia,t1_dt5jaia,/r/goddesses/comments/7sgl66/amber_heard/dt5jaia/,Amber Heard and Ellie Fanning's names are made...,t1_dt561qg,r/goddesses,"{'name': '-banned-', 'created_at': None, 'has_...",Positive,Positive,1

In [ ]:
subreddit_id = df['subreddit'].unique()

In [ ]:
subreddit_id.sort()
subreddit_id
print("\n")  
len(subreddit_id)

array(['r/Amber', 'r/Amber_Heard', 'r/Aquaman', 'r/Art', 'r/AskMen',
       'r/AskReddit', 'r/AskRedditAfterDark', 'r/AutoNewspaper',
       'r/BeautifulFemales', 'r/BonerAlert', 'r/Bossfight',
       'r/CaraDelevingne', 'r/CelebAssPussyMouth', 'r/CelebSexScenes',
       'r/Celeb_Collages', 'r/Celebhub', 'r/CelebrityArmpits',
       'r/CelebrityButts', 'r/CelebrityCandids', 'r/CelebrityFeet',
       'r/CelebrityNipples', 'r/CelebrityPokies',
       'r/CelebrityWankMaterial', 'r/Celebs', 'r/CelebsInTights',
       'r/CelebsUnveiling', 'r/Celebsnudess', 'r/Conservative',
       'r/CuteLittleButts', 'r/DCEUboners', 'r/DCEUleaks',
       'r/DC_Cinematic', 'r/DCcomics', 'r/Drama', 'r/Elon_musketeers',
       'r/EnoughMuskSpam', 'r/Faces', 'r/FantasticBeasts', 'r/GamerGhazi',
       'r/GirlsMirin', 'r/HOUSTONCHRONauto', 'r/HighResCelebs', 'r/JOIP',
       'r/JerkOffToCelebs', 'r/JerkOffToDesiCelebs', 'r/Jokes',
       'r/Libertarian', 'r/MensRights', 'r/NakedCelebrity',
       'r/NewsOfTheStupid', 'r/NoStupidQuestions', 'r/NostalgiaFapping',
       'r/NudeCelebsOnly', 'r/OnOff', 'r/OnOffCelebs', 'r/OutOfTheLoop',
       'r/PNNBPS', 'r/Philippines', 'r/PickHerOutfit', 'r/PortraitsPorn',
       'r/PrettyGirls', 'r/SeattleWA', 'r/SexyWomanOfTheDay',
       'r/Showerthoughts', 'r/SocialJusticeInAction', 'r/Spillthetea',
       'r/Stargate', 'r/SubredditDrama', 'r/TinyNips', 'r/TrueFMK',
       'r/TwoXChromosomes', 'r/UpliftingNews', 'r/Vent', 'r/WTF',
       'r/WatchItForThePlot', 'r/WtSSTaDaMiT', 'r/actuallesbians',
       'r/annakendrick', 'r/awfuleverything', 'r/barstoolsports',
       'r/boyshorts', 'r/celebJObuds', 'r/celeb_blondes',
       'r/celebdominatrixs', 'r/celebnsfw', 'r/celebrities',
       'r/celebrity', 'r/celebritylegs', 'r/celebritystockings',
       'r/celebsnaked', 'r/circlebroke2', 'r/coatswithoutshirts',
       'r/confessions', 'r/crappycontouring', 'r/drawing', 'r/elonmusk',
       'r/entertainment', 'r/fanart', 'r/freeworldnews', 'r/funkopop',
       'r/geekboners', 'r/geekygirls', 'r/gentlemanboners',
       'r/gentlemanbonersgifs', 'r/goddesses', 'r/intj',
       'r/ladiesinsuits', 'r/ladyladyboners', 'r/mealtimevideos',
       'r/movies', 'r/moviescirclejerk', 'r/news', 'r/newstweetfeed',
       'r/nottheonion', 'r/nsfwasmr', 'r/nsfwcelebs', 'r/offbeat',
       'r/photoshopbattles', 'r/pickoneceleb', 'r/pics', 'r/politics',
       'r/premed', 'r/scifi', 'r/sketches', 'r/todayilearned',
       'r/trailers', 'r/unpopularopinion', 'r/videos', 'r/worldnews',
       'r/worldpolitics', 'r/youtube', 'u/Mirrordomains', 'u/budwysr1'],
      dtype=object)

133

In [ ]:
subreddit_code = ["sr" + str(i) for i in range(len(subreddit_id)) ]
subreddit_code[:5]

['sr0', 'sr1', 'sr2', 'sr3', 'sr4']

In [ ]:
map_dict = dict(zip(subreddit_id, subreddit_code))

In [ ]:
list(map_dict.items())[:3]

[('r/Amber', 'sr0'), ('r/Amber_Heard', 'sr1'), ('r/Aquaman', 'sr2')]

In [ ]:
df['subreddit'] = df['subreddit'].replace(map_dict, inplace= False)

In [ ]:
df.head()

,id,name,permalink,text,parent_id,subreddit,author,sentiment_blob,sentiment_nltk,score
18,dt561qg,t1_dt561qg,/r/goddesses/comments/7sgl66/amber_heard/dt561qg/,Well..? What did she hear?!,t3_7sgl66,sr104,"{'name': '-banned-', 'created_at': None, 'has_...",Neutral,Neutral,14
19,dt5lf4u,t1_dt5lf4u,/r/goddesses/comments/7sgl66/amber_heard/dt5lf4u/,Shameless gold digger!,t3_7sgl66,sr104,"{'name': '-banned-', 'created_at': None, 'has_...",Neutral,Negative,5
20,dt5h0fn,t1_dt5h0fn,/r/goddesses/comments/7sgl66/amber_heard/dt5h0fn/,Amber D’Alessio made out with a hot dog.,t1_dt561qg,sr104,"{'name': '-banned-', 'created_at': None, 'has_...",Positive,Neutral,3
21,dt5ntm0,t1_dt5ntm0,/r/goddesses/comments/7sgl66/amber_heard/dt5ntm0/,First thing that pops into my head. Every time.,t1_dt561qg,sr104,"{'name': '-banned-', 'created_at': None, 'has_...",Positive,Neutral,2
22,dt5jaia,t1_dt5jaia,/r/goddesses/comments/7sgl66/amber_heard/dt5jaia/,Amber Heard and Ellie Fanning's names are made...,t1_dt561qg,sr104,"{'name': '-banned-', 'created_at': None, 'has_...",Positive,Positive,1

In [ ]:
pd_id = df['parent_id'].unique()

In [ ]:
pd_id.sort()
pd_id
print("\n")  
len(pd_id)

array(['t1_dq1pk96', 't1_drzqncs', 't1_ds0339s', ..., 't3_abakip',
       't3_abb1ad', 't3_abc2ip'], dtype=object)

2693

In [ ]:
pd_code = ["p" + str(i) for i in range(len(pd_id)) ]
pd_code[:5]

['p0', 'p1', 'p2', 'p3', 'p4']

In [ ]:
map_dict = dict(zip(pd_id, pd_code))

In [ ]:
list(map_dict.items())[:3]

[('t1_dq1pk96', 'p0'), ('t1_drzqncs', 'p1'), ('t1_ds0339s', 'p2')]

In [ ]:
df['parent_id'] = df['parent_id'].replace(map_dict, inplace= False)

In [ ]:
df.head()

,id,name,permalink,text,parent_id,subreddit,author,sentiment_blob,sentiment_nltk,score
18,dt561qg,t1_dt561qg,/r/goddesses/comments/7sgl66/amber_heard/dt561qg/,Well..? What did she hear?!,p1867,sr104,"{'name': '-banned-', 'created_at': None, 'has_...",Neutral,Neutral,14
19,dt5lf4u,t1_dt5lf4u,/r/goddesses/comments/7sgl66/amber_heard/dt5lf4u/,Shameless gold digger!,p1867,sr104,"{'name': '-banned-', 'created_at': None, 'has_...",Neutral,Negative,5
20,dt5h0fn,t1_dt5h0fn,/r/goddesses/comments/7sgl66/amber_heard/dt5h0fn/,Amber D’Alessio made out with a hot dog.,p31,sr104,"{'name': '-banned-', 'created_at': None, 'has_...",Positive,Neutral,3
21,dt5ntm0,t1_dt5ntm0,/r/goddesses/comments/7sgl66/amber_heard/dt5ntm0/,First thing that pops into my head. Every time.,p31,sr104,"{'name': '-banned-', 'created_at': None, 'has_...",Positive,Neutral,2
22,dt5jaia,t1_dt5jaia,/r/goddesses/comments/7sgl66/amber_heard/dt5jaia/,Amber Heard and Ellie Fanning's names are made...,p31,sr104,"{'name': '-banned-', 'created_at': None, 'has_...",Positive,Positive,1

In [ ]:
df['sentiment_blob'].replace(['Neutral', 'Positive', 'Negative'],
                        [0, 1, 2], inplace=True)

In [ ]:
df['sentiment_nltk'].replace(['Neutral', 'Positive', 'Negative'],
                        [0, 1, 2], inplace=True)

In [ ]:
df.head()

,id,name,permalink,text,parent_id,subreddit,author,sentiment_blob,sentiment_nltk,score
18,dt561qg,t1_dt561qg,/r/goddesses/comments/7sgl66/amber_heard/dt561qg/,Well..? What did she hear?!,p1867,sr104,"{'name': '-banned-', 'created_at': None, 'has_...",0,0,14
19,dt5lf4u,t1_dt5lf4u,/r/goddesses/comments/7sgl66/amber_heard/dt5lf4u/,Shameless gold digger!,p1867,sr104,"{'name': '-banned-', 'created_at': None, 'has_...",0,2,5
20,dt5h0fn,t1_dt5h0fn,/r/goddesses/comments/7sgl66/amber_heard/dt5h0fn/,Amber D’Alessio made out with a hot dog.,p31,sr104,"{'name': '-banned-', 'created_at': None, 'has_...",1,0,3
21,dt5ntm0,t1_dt5ntm0,/r/goddesses/comments/7sgl66/amber_heard/dt5ntm0/,First thing that pops into my head. Every time.,p31,sr104,"{'name': '-banned-', 'created_at': None, 'has_...",1,0,2
22,dt5jaia,t1_dt5jaia,/r/goddesses/comments/7sgl66/amber_heard/dt5jaia/,Amber Heard and Ellie Fanning's names are made...,p31,sr104,"{'name': '-banned-', 'created_at': None, 'has_...",1,1,1

In [ ]:
grpd_user = df.groupby(['subreddit'])
user_nodes = grpd_user.agg({'score' : [('u_min','min'),('u_max','max'),('u_mean','mean')] }).reset_index()
user_nodes = user_nodes.round(decimals = 2)
user_nodes.head()

  subreddit score
            u_min u_max u_mean
0       sr0     1     1   1.00
1       sr1     1     1   1.00
2      sr10     1     2   1.50
3     sr100    -2     8   2.30
4     sr101     1     3   1.67

In [ ]:
users_sentiment = df.loc[df["sentiment_blob"] == 1, 'subreddit' ].unique()
len(users_sentiment)

112

In [ ]:
user_nodes['sentiment'] = df["sentiment_blob"]

In [ ]:
user_nodes['Cat'] = 'sreddit'

In [ ]:
user_nodes['sentiment'].value_counts()
user_nodes.head()

0.0    34
1.0    26
2.0    17
Name: sentiment, dtype: int64

  subreddit score              sentiment      Cat
            u_min u_max u_mean
0       sr0     1     1   1.00       NaN  sreddit
1       sr1     1     1   1.00       NaN  sreddit
2      sr10     1     2   1.50       NaN  sreddit
3     sr100    -2     8   2.30       NaN  sreddit
4     sr101     1     3   1.67       NaN  sreddit

In [ ]:
user_nodes['Label'] = user_nodes['subreddit']

In [ ]:
user_nodes = user_nodes.rename(columns = {'subreddit': "Id"})

In [ ]:
user_nodes.head()

      Id score              sentiment      Cat  Label
         u_min u_max u_mean
0    sr0     1     1   1.00       NaN  sreddit    sr0
1    sr1     1     1   1.00       NaN  sreddit    sr1
2   sr10     1     2   1.50       NaN  sreddit   sr10
3  sr100    -2     8   2.30       NaN  sreddit  sr100
4  sr101     1     3   1.67       NaN  sreddit  sr101

In [ ]:
user_nodes.to_csv("subreddit_node.csv",
                  index = False,
                  sep = ";"
                  )

In [ ]:
grpd_parent = df.groupby(['parent_id'])
parent_nodes = grpd_parent.agg({'score' : [('u_min','min'),('u_max','max'),('u_mean','mean')] }).reset_index()
parent_nodes = parent_nodes.round(decimals = 2)
parent_nodes.head()

  parent_id score
            u_min u_max u_mean
0        p0     1     1    1.0
1        p1     4     4    4.0
2       p10    13    13   13.0
3      p100     6     6    6.0
4     p1000     2     2    2.0

In [ ]:
parent_sentiment = df.loc[df["sentiment_blob"] == 1, 'parent_id' ].unique()
len(parent_sentiment)

1299

In [ ]:
parent_nodes['sentiment'] = df["sentiment_blob"]

In [ ]:
parent_nodes['Cat'] = 'pid'

In [ ]:
parent_nodes['sentiment'].value_counts()
parent_nodes.head()

0.0    831
1.0    674
2.0    373
Name: sentiment, dtype: int64

  parent_id score              sentiment  Cat
            u_min u_max u_mean
0        p0     1     1    1.0       NaN  pid
1        p1     4     4    4.0       NaN  pid
2       p10    13    13   13.0       NaN  pid
3      p100     6     6    6.0       NaN  pid
4     p1000     2     2    2.0       NaN  pid

In [ ]:
parent_nodes['Label'] = parent_nodes['parent_id']

In [ ]:
parent_nodes = parent_nodes.rename(columns = {'parent_id': "Id"})

In [ ]:
parent_nodes.head()

      Id score              sentiment  Cat  Label
         u_min u_max u_mean
0     p0     1     1    1.0       NaN  pid     p0
1     p1     4     4    4.0       NaN  pid     p1
2    p10    13    13   13.0       NaN  pid    p10
3   p100     6     6    6.0       NaN  pid   p100
4  p1000     2     2    2.0       NaN  pid  p1000

In [ ]:
parent_nodes.to_csv("parentid_node.csv",
                  index = False,
                  sep = ";"
                  )

In [ ]:
edges = df.groupby([df['subreddit'], df['parent_id']]).size()

In [ ]:
edges = df[['subreddit', 'parent_id']].groupby(['subreddit', 'parent_id']).size().reset_index()
edges = edges.rename(columns = { 0 : "weight"})
edges.head()

  subreddit parent_id  weight
0       sr0     p2229       1
1       sr1     p2553       1
2      sr10     p2022       1
3      sr10      p341       1
4     sr100     p1087       1

In [ ]:
edges = edges.rename(columns = {'subreddit': 'Source', 'parent_id': 'Target'})

In [ ]:

edges['Type']= 'Undirected'
edges.head()

  Source Target  weight        Type
0    sr0  p2229       1  Undirected
1    sr1  p2553       1  Undirected
2   sr10  p2022       1  Undirected
3   sr10   p341       1  Undirected
4  sr100  p1087       1  Undirected

In [ ]:
edges.to_csv("reddit_edges.csv",
             index = False,
             sep = ";"
             )